@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(#000000 15%, #03011a 100%);
    color: #fff;
    font-family: 'Zen Dots', Arial, Helvetica, sans-serif;
    font-size: 100%;
}